<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69814635759-b3gjerr7ippta8dcubac5c6flffi7rso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69814635759-b3gjerr7ippta8dcubac5c6flffi7rso</string>
	<key>API_KEY</key>
	<string>AIzaSyCo4KL4I2Mcw2mAL2_pZFGEB7fg1SoC388</string>
	<key>GCM_SENDER_ID</key>
	<string>69814635759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleApplication</string>
	<key>PROJECT_ID</key>
	<string>experimentdatabase-87de1</string>
	<key>STORAGE_BUCKET</key>
	<string>experimentdatabase-87de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69814635759:ios:4b3cbf091f14b08daedf1a</string>
	<key>DATABASE_URL</key>
	<string>https://experimentdatabase-87de1-default-rtdb.firebaseio.com</string>
</dict>
</plist>